@import url('colors.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    min-height:100%
}
body {
    background: var(--background);
    color: var(--foreground);
}
#welcome {
    padding: 50px;
}
.content {
    text-align: center;
    padding: 100px;
}
input {
    width: 80%;
    padding: 5px;
    border-radius: 3px;
    border: solid 1px;
    background: var(--color0);
    color: var(--color2);
}
h1 {
    font-weight: lighter;
}
.links {
    text-align: left;
    display: inline-flex;
}
.links ul{
    list-style:none;
}
.links a, a:visited {
    color: var(--foreground);
    text-decoration:none;
}
.link-group {
    padding: 20px;
}
